CREATE DATABASE Pos;

use Pos;

CREATE TABLE Contador (
    contadorF INT,
    contadorL INT
);

create table Cliente (
       id  varchar(10)  not null,
        nombre varchar(10) not null,
        telefono varchar(10) not null,
	   email varchar(30) not null,
         descuento float,
          Primary Key (id)         
     );


create table Cajero (
       id  varchar(10)  not null,
        nombre varchar(10) not null,
       Primary Key (id)         
     );


create table Categoria (
       id  varchar(10)  not null,
       nombre varchar(30) not null,
       Primary Key (id)         
     );

create table Producto (
       Codigo  varchar(10)  not null,
        Descripcion varchar(30) not null,
	   UnidadMedida  varchar(20),
	   PrecioUnitario  double,
         Existencia int,
	   categoria varchar(10),
       Primary Key (codigo)         
     );

ALTER TABLE Producto ADD Foreign Key (categoria) REFERENCES Categoria(id); 

create table Factura (
    numero VARCHAR(10) PRIMARY KEY,
    cliente VARCHAR(10) NOT NULL,
    cajero VARCHAR(10) NOT NULL,
    fecha DATE NOT NULL,
    Primary Key (numero)
);

ALTER TABLE Factura ADD FOREIGN KEY (cliente) REFERENCES Cliente(id),
ADD FOREIGN KEY (cajero) REFERENCES Cajero(id);

create table Linea (
    codigo VARCHAR(10) PRIMARY KEY,
    producto VARCHAR(10) NOT NULL,
    factura VARCHAR(10) NOT NULL,
    cantidad INT NOT NULL,
    descuento FLOAT NOT NULL,
    Primary Key (codigo)
    );

ALTER TABLE Linea 
ADD FOREIGN KEY (producto) REFERENCES Producto(codigo),
ADD FOREIGN KEY (factura) REFERENCES Factura(numero);


 INSERT INTO Contador (contadorF, contadorL) VALUES (1, 1);
insert into Categoria (id ,nombre) values('001','Aguas');
insert into Categoria (id ,nombre) values('002','Dulces');
insert into Categoria (id ,nombre) values('003','Aceites');
